body {
    margin: 0;
}

.container {
    min-height: 100vh;
    background-color: #ecf0f1;
}

nav {
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5C7A97;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 2px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: #8CAECE;
}

h1 {
    text-align: center;
}